<div class="toolbar" role="banner">
    <div class="card2">
        <span>HackersNews</span>
    </div>

    <div class="spacer"></div>

    <div class="cardleft">
        <a routerLink="/home"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;GO HOME</a>
    </div>
</div>
<div class="content1">
    <div style="margin:0 5%;width: 90%;">
        <div class="row" style="margin: 0% 1%">
            <ng-container  *ngFor="let res of allBookamrk">
                <div class="colum">
                    <div class="card1">
                        <div class="leftItems" >
                            <div class="title">
                                <span>Title: {{res.title}}</span>
                                <span style="color: rgb(129, 129, 121);font-weight: 400;">&nbsp;Author: {{res.authorName}}</span>
                            </div>
                            <div class="webUrl">
                                <span>Website: {{res.url}}<a href=""></a></span>
                            </div>  
                        </div>
                        <div class="rightItems">
                            <mat-icon title="Click to Remove from Bookmark" class="favourite" (click)="deletefromBookMark(res.id)">favorite</mat-icon>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>